################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/be-nasa/WebAppiBE/.vs/WebAppiBE
/be-nasa/WebCrawler/.vs/WebCrawler
